<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}Common Grounds{% endblock %}</title>
    </head>
    <body>
        <header>
            <h1>Common Grounds</h1>
        </header>
        {% if request.user.is_authenticated%}
            <a href="{% url 'home' %}">Home</a> | 
            <b>{{ request.user }}</b> | 
            <a href="{% url 'dashboard' %}">Dashboard</a> | 
            <form method="POST" action="{% url 'logout' %}" style="display:inline;">
                {% csrf_token %}
            <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'home' %}">Home</a> |
            <a href="{% url 'login' %}">Login</a> |
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
        <h2>{% block heading_text %}{% endblock %}</h2>

        <main>{% block body %}{% endblock %}</main>
    </body>
</html>
