{% extends "base.html" %}

{% block body %}
<h1> Homepage </h1>
<p> Which app would you like to visit</p>
<ul>
    <li><a href="{% url 'bookclub:book_list' %}">Book Club</a></li>
    <li><a href="{% url 'commissions:commission_list' %}">Commissions</a></li>
    <li><a href="{% url 'diyprojects:project_list' %}">DIY Projects</a></li>
    <li><a href="{% url 'localevents:event_list' %}">Local Events</a></li>
    <li><a href="{% url 'merchstore:item_list'%}">Merchstore</a></li>
</ul>

{% if request.user.is_authenticated %}
<p> Other account functions </p>
<a href="{% url 'accounts_update' request.user.username %}">Change display name</a>
{% endif %}
{% endblock %}