{% extends 'base.html' %} {% block heading_text %} Event List {% endblock%} {% block body %}

{% if user.is_authenticated %}
    <a href="{% url 'localevents:event_create' %}" >+ Create Event</a>
    <br><br>
        
    <h3>Events Created</h3>
    <ul>
        {% for event in created_events %}
        <li>
            <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>
            ({{ event.start_time|date:"Y-m-d"}})
        </li>
        {% empty %}
        <li>No created events found.</li>
        {% endfor %}
    </ul>


    <h3>Events Signed Up For</h3>
    <ul>
        {% for event in signed_up_events %}
        <li>
            <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>
            ({{ event.start_time|date:"Y-m-d"}})
        </li>
        {% empty %}
        <li>No signed up for events found.</li>
        {% endfor %}
    </ul>
{% endif %}

<h3>All Events</h3>
<ul>
    {% for event in other_events %}
    <li>
        <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>
        ({{ event.start_time|date:"Y-m-d"}})
    </li>
    {% empty %}
    <li>No events found.</li>
    {% endfor %}
</ul>

{% endblock %}
